
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
  background-color: #044271;
  height: 80px;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.login{
  padding: 20px;  
  margin-top: 24px;
  font-family: sansserif;
  font-size: small;
  font-weight: 20;
  font-family: sansserif;
  color: antiquewhite;
}

h1{
  /* padding: 20px;  */
  /* display: inline; */
  /* align-content: center;  */
  /* padding-bottom: 20px; */
  margin-left: 50px;
  margin-bottom: 30px;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: sansserif;
  color: antiquewhite; 
}

#logo{
  width: 30px;
  height: 30px;
  margin-left: 71px;
  position: absolute;
}

a{
    color:  antiquewhite;
    text-decoration: underline;
    font-size: smaller;
    margin-left: 290px; 
  }

#mypic {
  width: 100%;
  height: 100vh;   
}

p{
  color:antiquewhite;
  font-size: 30px;
  font-weight: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
}

.signup{
  right: 50px;
  width: 350px;
  top: 20%; 
  padding:0px 40px 20px 40px;
  position: absolute;
  z-index: 100;
  font-family: sansserif;
  font-size: small;
  font-weight: 1000px;
  color:antiquewhite;
  background-color:#11119933;
  border-radius: 15px;
}

input{
  border-radius: 3px;
  height: 25px;
}


/* .signupform{
  margin-left: 100px;

}

input[type=text] + label{
  color:red;
}
input[type=email] + label{
  color:red;
}

.text input{
  margin-left: 10px;
} */

.checkboxfor{
  height: 15px;
  width: 15px;
  background-color: antiquewhite;
  border-radius: 100%;
}

.background{
  background-color:	#044271;
  height: 100vh;
  margin: 0px;
  width:100%;
  overflow: hidden;
}

input[type=text], input[type=password], input[type=email]{
  background: antiquewhite;
  padding:5px;
  font-family:sansserif;
  font-size: small;
}


